---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@media (max-width:767px){
  .landing-img{
    max-width: 40%;
    max-height: auto;
  } 
}

@media (min-width:768px){
  .landing-img{
    max-width: 60%;
    max-height: auto;
  } 
}


@media (min-width:1200px){
  .landing-img{
    max-width: 80%;
    max-height: auto;
  } 
}

.landing-box{
  display: flex;
  flex-direction: column;
  width: 80rem;
  align-self: center;
  padding-bottom: 5rem;
}

.brow{
  padding-top: 3rem;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.button{
  background-color: black;
  color: #d72036;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 900;
  font-size: 2rem;

  
}