---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
  
.landing-img{
  max-width: 30%;
  text-align: center;
}

@media (max-width:580px){
  .landing-img{
    max-width: 70%;
    max-height: auto;
  } 
}

@media (max-width:767px){
  .landing-img{
    max-width: 30%;
    max-height: auto;
  } 
}

@media (min-width:768px){
  .landing-img{
    max-width: 30%;
    max-height: auto;
  } 
  .landing-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    padding-bottom: 40px;
  }
}

@media (min-width:768px){
  .landing-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    padding-bottom: 60px;
  }

}


@media (min-width:1200px){
  .landing-img{
    max-width: 30%;
    max-height: auto;
  } 
}

.landing-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding-bottom: 5rem;
  justify-content: center;
}

@media (max-width:767px){
  .landing-box{
    margin-top: 5%;
    width: 100%;
  } 
}

@media (min-width:768px){
  .landing-box{
    margin-top: 5%;
    width: 100%;
  } 
  .landing-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    padding-bottom: 80px;
  }
}


@media (min-width:1800px){
  .landing-box{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
    padding-bottom: 100px;
  }
}
.landing-img{
  max-width: 100%;
  max-height: auto;
} 


.brow{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
@media (max-width:768px){
  .button{
    background-color: black;
    color: #d72036;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 16px;
  } 
}

@media (max-width: 480px) {
  .brow{
    flex-direction: column;
    width: 10rem;
  }
}

.button{
  background-color: black;
  color: #d72036 !important;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 900;
  font-size: 2rem;
}

@media (max-width: 480px) {
  .button{
    font-size: 1rem;
    margin-top: 10px;   
  }
}
@media (max-width:1199px){
  .button{
    background-color: black;
    color: #d72036;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 20px;
  } 
}
@media (min-width:1200px){
  .button{
    background-color: black;
    color: #d72036;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 900;
    font-size: 30px;
  } 
}
